.motherBoard {
  display: flex;
  justify-content: center;
  /* background-color: grey; */
  border: 5px solid #1f4068;
  outline: 5px solid #ebecf1;
  -webkit-box-shadow: 21px 23px 3px -5px rgb(70, 163, 185);
  -moz-box-shadow: 21px 23px 3px -5px rgb(70, 163, 185);
  box-shadow: 21px 23px 3px -5px rgb(70, 163, 185);
}

.board-grab {
  /* margin-top: 150px; */
  width: 502px;
  border: #000 solid 2px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.board-grabbing {
  /* margin-top: 150px; */
  width: 502px;
  border: #000 solid 2px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.black-box {
  background-color: #1a2738;
  width: 62.5px;
  height: 62.5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.white-box {
  background-color: #ebecf1;
  width: 62.5px;
  height: 62.5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.board-grab:hover {
  cursor: grab;
}

.board-grabbing:hover {
  cursor: grabbing;
}

.selected-box {
  background-color: rgb(241, 225, 154);
  width: 62.5px;
  height: 62.5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.dot-black {
  opacity: 0.7;
  height: 25px;
  width: 25px;
  background-color: #a45b2d;
  border-radius: 50%;
  position: absolute;
}

.dot-white {
  opacity: 0.7;
  height: 25px;
  width: 25px;
  background-color: #c4b087;
  border-radius: 50%;
  position: absolute;
}

.col:hover {
  cursor: pointer;
}

.pieces {
  width: 62.5px;
  height: 62.5px;
}

.motherLogin {
  background-image: url("https://cdn2.aoe.com/fileadmin/_processed_/a/a/csm_Fotolia_94900081_Chess_Pieces_930_590_70_2fe5d1b6a3.jpg");
  background-size: cover;
  padding-top: 9%;
  padding-bottom: 9%;
  /* display: flex;
  justify-content: center; */
  color: white;
}

.Card {
  height: 196px;
  width: 200px;
  /* margin: 30px; */
  /* margin: 30px auto 30px; */
  border-radius: 5px;
  background-color: white;
  /* box-shadow: 3px 3px 10px black; */
  color: black;
}

.CardShadow {
  height: 200px;
  width: 200px;
  /* margin: 30px; */
  margin: 30px auto 30px;
  border-radius: 5px;
  background-color: rgb(150, 142, 142);
  box-shadow: 6px 6px 10px #151f33;
}

.cardProfile {
  /* height: 200px;
  width: 200px; */
  /* margin: 30px; */
  /* margin: 30px auto 30px; */
  padding-top: 40px;
  border-radius: 5px 0 0 5px;
  background-color: white;
  border-right: 1px solid black;
  color: black;
}

.cardContainer {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 150px;
  width: 200px;
  background-color: white;
  box-shadow: 0 3px rgb(150, 142, 142);
  margin: 20px auto 0;
}

.profbutton {
  margin-top: 40px;
  height: 50%;
  width: 70%;
}

.cardLogo {
  height: 50px;
  width: 50px;
}

.vs {
  padding-top: 20px;
  text-align: center;
  /* width: 50%; */
  /* height: 50%; */
}

.mainMenu {
  /* background-color: #263554; */
  background-image: url("https://cdn2.aoe.com/fileadmin/_processed_/a/a/csm_Fotolia_94900081_Chess_Pieces_930_590_70_2fe5d1b6a3.jpg");
  background-size: cover;
  height: 83vh;
  justify-content: center;
  color: white;
  text-align: center;
  padding-top: 2%;
}

.mainMenu2 {
  background-image: url("https://cdn2.aoe.com/fileadmin/_processed_/a/a/csm_Fotolia_94900081_Chess_Pieces_930_590_70_2fe5d1b6a3.jpg");
  background-size: cover;
  justify-content: center;
  color: white;
  text-align: center;
  padding-top: 2%;
}

.buttonGroup {
  /* padding: 10px; */
  /* margin: 10px; */
  width: 290px;
  margin: 0 auto;
}

.buttonGroup > .btn {
  margin: 0 10px 0;
}

.buttonLogout {
  position: absolute;
  left: 0;
}

.modal-chess {
  display: flex;
  justify-content: center;
}

.modal-chess img {
  border: #000 solid 1px;
  margin: 0 10px;
}

.modal-chess img:hover {
  cursor: pointer;
}

.trophy {
  height: 105px;
  width: 105px;
}

.motherGame {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  background-color: #2c3539;
  padding-bottom: 4%;
  /* height: 100vh; */
}

.timer {
  color: rgb(235, 236, 241);
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #ebecf1;
  border-top: 2px solid #ebecf1;
  border-radius: 0 14px;
}

.video {
  float: left;
  width: 100%;
  height: 271px;
  margin: 5px;
  background-color: #ebecf1;
  border: 5px solid #ebecf1;
  outline: 5px solid #ebecf1;
  -webkit-box-shadow: 9px 13px 22px 2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 9px 13px 22px 2px rgba(0, 0, 0, 0.58);
  box-shadow: 9px 13px 22px 2px rgba(0, 0, 0, 0.58);
}

.versus {
  background-color: #ebecf1;
  border-radius: 10px;
  display: none !important;
}
.historyGame {
  display: flex;
  justify-content: center;
  /* padding-top: 5%; */
  background-color: white;
  height: 100%;
}
.LogoLogin {
  /* width: "15%"; */
  background-color: white;
  width: 20%;
  border-radius: 10px;
}

.LogoNav {
  width: "5%";
}

.App {
  font-family: "Roboto Condensed", sans-serif;
}
